In [2]:
import pandas as pd
import numpy as np

In [3]:
chipo_df = pd.read_csv('./chipotle.tsv', sep='\t')

In [10]:
chipo_df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [13]:
## q1. 데이터의 정보를 확인해주세요

In [4]:
chipo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [16]:
## q2. quantity의 값이 3이상인 데이터들을 호출하고
## 전체 수가 얼마인지 출력해주세요.

In [83]:
# 방법1
cond = chipo_df.quantity>=3
chipo_df[cond]
chipo_df[cond].shape[0]

43

In [6]:
# 방법2
chipo_df.loc[chipo_df['quantity']>=3]

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75
917,379,3,Canned Soft Drink,[Lemonade],$3.75
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00
1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$27.75
1257,511,4,Chips and Fresh Tomato Salsa,NaN,$11.80
1425,577,4,Bottled Water,NaN,$6.00
1514,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$26.25
1559,633,3,Canned Soft Drink,[Coke],$3.75
1880,759,4,Bottled Water,NaN,$6.00
2235,901,4,Canned Soda,[Sprite],$4.36
2441,970,5,Bottled Water,NaN,$7.50
2645,1051,3,Chips and Guacamole,NaN,$13.35
2823,1121,3,Bottled Water,NaN,$3.27
2936,1167,3,Chips,NaN,$6.45
2944,1170,3,Side of Chips,NaN,$5.07
2972,1182,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
3089,1231,3,Canned Soft Drink,[Diet Coke],$3.75
3128,1247,3,Canned Soft Drink,[Diet Coke],$3.75
3270,1309,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
3294,1321,3,Bottled Water,NaN,$4.50
3314,1328,3,Bottled Water,NaN,$4.50
3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",$26.07
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
3599,1443,7,Bottled Water,NaN,$10.50
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$27.75
3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],$26.25
3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$26.25
3887,1559,8,Side of Chips,NaN,$13.52
3973,1592,4,Canned Soft Drink,[Coke],$5.00
4098,1642,3,Canned Soft Drink,[Diet Coke],$3.75
4137,1655,3,Bottled Water,NaN,$4.50
4152,1660,10,Bottled Water,NaN,$15.00
4186,1671,3,Bottled Water,NaN,$4.50
4489,1786,4,Chips and Guacamole,NaN,$17.80
4490,1786,4,Canned Soft Drink,[Coke],$5.00
4491,1786,4,Canned Soft Drink,[Sprite],$5.00

In [89]:
chipo_df.loc[chipo_df['quantity']>=3].shape[0]

43

In [17]:
## q3. item_price의 컬럼의 달러표시 문자를 없애고, float64bit 타입으로
## 저장하여 new_price를 컬럼으로 하여 넣어주세요.

In [ ]:
# 방법1
chipo_df['new_price'] = chipo_df.item_price.str[1:].astype('float64')

In [38]:
# 방법2
chipo_df['new_price'] = chipo_df['item_price'].str.replace('$','')

C:\Users\TECH2_28\AppData\Local\Temp\ipykernel_4660\2034456203.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo_df['new_price'] = chipo_df['item_price'].str.replace('$','')

In [43]:
chipo_df['new_price'] = chipo_df['new_price'].astype(float)

In [44]:
chipo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   new_price           4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [45]:
chipo_df.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39

In [33]:
## q4. new_price의 컬럼값이 5이하인 데이터프레임을 추출하고 그 수를 구해주세요.

In [46]:
chipo_df.loc[chipo_df['new_price']<=5]

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
...,...,...,...,...,...,...
4606,1828,1,Canned Soft Drink,[Coke],$1.25,1.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25,1.25
4613,1831,1,Chips,NaN,$2.15,2.15
4614,1831,1,Bottled Water,NaN,$1.50,1.50
4616,1832,1,Chips and Guacamole,NaN,$4.45,4.45

In [88]:
chipo_df.loc[chipo_df['new_price']<=5].shape[0]
# len(chipo_df.loc[chipo_df['new_price']<=5]) :: 결과 동일

1652

In [19]:
## q5. new_price의 컬럼값이 9이하이고 item_name값이 Chicken Salad Bowl인 데이터
## 프레임을 추출해주세요.

In [49]:
chipo_df.loc[(chipo_df['new_price']<=9) & (chipo_df['item_name']=='Chicken Salad Bowl')]

,order_id,quantity,item_name,choice_description,item_price,new_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
568,234,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$8.75,8.75
585,240,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$8.75,8.75
693,286,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Sour Cream, Cheese, Lett...",$8.75,8.75
702,289,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$8.75,8.75
762,314,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
1109,458,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
1460,592,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$8.75,8.75
1471,598,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1483,602,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
1547,628,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
1601,649,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1621,654,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1756,709,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$8.75,8.75
1977,798,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$8.75,8.75
2031,818,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75
2113,850,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$8.75,8.75
2224,896,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Sour Cream,...",$8.75,8.75
2314,926,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",$8.75,8.75
2728,1083,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75
2858,1136,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
2883,1145,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
2897,1152,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, Cheese]",$8.75,8.75
2989,1189,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
3033,1206,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$8.75,8.75
3069,1222,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$8.75,8.75
3117,1243,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75,8.75
3259,1305,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
3261,1305,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
3310,1327,1,Chicken Salad Bowl,[Fresh Tomato Salsa],$8.75,8.75
3315,1329,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",$8.75,8.75
3381,1357,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$8.75,8.75
3411,1368,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Lettuce]]",$8.75,8.75
3623,1450,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75,8.75
3656,1461,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
3706,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",$8.75,8.75
3712,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",$8.75,8.75
3790,1517,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
3798,1521,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
3974,1592,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Lettu...",$8.75,8.75
3997,1601,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
4012,1606,1,Chicken Salad Bowl,[Fresh Tomato Salsa],$8.75,8.75
4035,1615,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
4064,1627,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
4205,1679,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",$8.75,8.75
4207,1679,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
4333,1730,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Cheese]]",$8.75,8.75
4352,1738,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75,8.75
4439,1769,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
4520,1797,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$8.75,8.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [20]:
## q6. 데이터 프레임 new_price의 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화하라

In [57]:
chipo_df = chipo_df.sort_values(by=['new_price']).reset_index()

In [59]:
chipo_df

,index,order_id,quantity,item_name,choice_description,item_price,new_price
0,1140,471,1,Bottled Water,NaN,$1.09,1.09
1,821,338,1,Canned Soda,[Coca Cola],$1.09,1.09
2,3926,1575,1,Canned Soda,[Dr. Pepper],$1.09,1.09
3,107,47,1,Canned Soda,[Dr. Pepper],$1.09,1.09
4,2562,1014,1,Canned Soda,[Coca Cola],$1.09,1.09
...,...,...,...,...,...,...,...
4617,3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
4618,3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
4619,1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
4620,3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
4621,3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

In [24]:
## q7. 데이터 프레임의 item_name컬럼 값 중에서 Steak가 포함된 경우의 데이터의 수를 구해주세요.

In [92]:
chipo_df.loc[chipo_df['item_name'].str.contains('Steak')].item_name.value_counts()

Steak Burrito         368
Steak Bowl            211
Steak Soft Tacos       55
Steak Crispy Tacos     35
Steak Salad Bowl       29
Steak Salad             4
Name: item_name, dtype: int64

In [90]:
chipo_df.loc[chipo_df['item_name'].str.contains('Steak')].nunique()

level_0               702
index                 702
order_id              612
quantity                3
item_name               6
choice_description    427
item_price             16
new_price              16
dtype: int64

In [91]:
## q8. 데이터 프레임 new_price 컬럼값에 따라 내림차순으로 정리하고 index를 초기화해주세요.

In [64]:
chipo_df = chipo_df.sort_values(by=['new_price'], ascending=False).reset_index()

In [65]:
chipo_df

,level_0,index,order_id,quantity,item_name,choice_description,item_price,new_price
0,4621,3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
1,4620,3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
2,4619,1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,4618,3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
4,4617,3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...,...,...
4617,75,3575,1434,1,Canned Soda,[Dr. Pepper],$1.09,1.09
4618,76,1030,424,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
4619,77,2850,1132,1,Canned Soda,[Diet Coke],$1.09,1.09
4620,78,34,17,1,Bottled Water,NaN,$1.09,1.09
4621,0,1140,471,1,Bottled Water,NaN,$1.09,1.09

In [26]:
## q9. 데이터 프레임 new_price 값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱해주세요.

In [66]:
price_mean = chipo_df.new_price.mean()

In [68]:
chipo_df.loc[chipo_df['new_price']>=price_mean]

,level_0,index,order_id,quantity,item_name,choice_description,item_price,new_price
0,4621,3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
1,4620,3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
2,4619,1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,4618,3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
4,4617,3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...,...,...
2885,1744,1161,479,1,Chicken Burrito,"[Fresh Tomato (Mild), [Lettuce, Rice, Fajita V...",$8.19,8.19
2886,1745,2918,1160,1,Chicken Bowl,"[Fresh Tomato (Mild), [Rice, Sour Cream, Cheese]]",$8.19,8.19
2887,1747,1271,517,1,Chicken Burrito,"[Tomatillo Red Chili (Hot), [Lettuce, Rice, Ch...",$8.19,8.19
2888,1733,3040,1210,2,Chips and Guacamole,NaN,$7.98,7.98
2889,1732,2441,970,5,Bottled Water,NaN,$7.50,7.50

In [29]:
## q10. 데이터 프레임 item_name에서 '6 Pack Soft Drink'의 값을 'pepsi'로 변형해주세요.

In [93]:
# 방법1 - lambda를 활용한 식
chipo_df.item_name.apply(lambda x : 'pesci' if x=='6 Pack Soft Drink' else x)

0       Chips and Fresh Tomato Salsa
1                      Carnitas Bowl
2                    Chicken Burrito
3                    Chicken Burrito
4                     Veggie Burrito
                    ...
4617                     Canned Soda
4618                     Canned Soda
4619                     Canned Soda
4620                   Bottled Water
4621                   Bottled Water
Name: item_name, Length: 4622, dtype: object

In [96]:
# 방법2 - loc를 활용
chipo_df.loc[chipo_df.item_names=='6 Pack Soft Drink', 'item_names'] = 'pepsi'

0       Chips and Fresh Tomato Salsa
1                      Carnitas Bowl
2                    Chicken Burrito
3                    Chicken Burrito
4                     Veggie Burrito
                    ...
4617                     Canned Soda
4618                     Canned Soda
4619                     Canned Soda
4620                   Bottled Water
4621                   Bottled Water
Name: item_name, Length: 4622, dtype: object

In [72]:
# 방법3 - replace 함수 활용
chipo_df['item_name'] = chipo_df['item_name'].str.replace('6 Pack Soft Drink','pepsi')

In [94]:
chipo_df.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
pepsi                                     54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [30]:
## q11. 전체 결측값(Missing Value)에 대한 갯수를 구하고, 그 값을 'N'으로 대체해주세요.

In [74]:
chipo_df.isna().sum()

level_0                  0
index                    0
order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
new_price                0
dtype: int64

In [75]:
chipo_df['choice_description'] = chipo_df.choice_description.fillna('N')

In [76]:
chipo_df

,level_0,index,order_id,quantity,item_name,choice_description,item_price,new_price
0,4621,3598,1443,15,Chips and Fresh Tomato Salsa,N,$44.25,44.25
1,4620,3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
2,4619,1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,4618,3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
4,4617,3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...,...,...
4617,75,3575,1434,1,Canned Soda,[Dr. Pepper],$1.09,1.09
4618,76,1030,424,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
4619,77,2850,1132,1,Canned Soda,[Diet Coke],$1.09,1.09
4620,78,34,17,1,Bottled Water,N,$1.09,1.09
4621,0,1140,471,1,Bottled Water,N,$1.09,1.09

In [31]:
## q12. 데이터 프레임에서 choice_description 컬럼 값에서 Black이 들어가지 않는 경우를 인덱싱 해주세요.

In [99]:
# 방법1
chipo_df[~(chipo_df.choice_description.str.contains('Black'))]

1       [Roasted Chili Corn Salsa, [Fajita Vegetables,...
2       [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
3       [Fresh Tomato Salsa, [Rice, Black Beans, Chees...
4       [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
5       [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...
                              ...
3469                                         [Blackberry]
3487                                         [Blackberry]
3492                                         [Blackberry]
3495                                         [Blackberry]
3503                                         [Blackberry]
Name: choice_description, Length: 1353, dtype: object

In [78]:
# 방법2

chipo_df[chipo_df['choice_description'].str.contains('Black')==False]

,level_0,index,order_id,quantity,item_name,choice_description,item_price,new_price
0,4621,3598,1443,15,Chips and Fresh Tomato Salsa,N,$44.25,44.25
9,4612,3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],$26.25,26.25
10,4613,3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$26.25,26.25
14,4602,4427,1764,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour ...",$23.50,23.50
16,4606,4307,1718,2,Steak Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$23.50,23.50
...,...,...,...,...,...,...,...,...
4617,75,3575,1434,1,Canned Soda,[Dr. Pepper],$1.09,1.09
4618,76,1030,424,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
4619,77,2850,1132,1,Canned Soda,[Diet Coke],$1.09,1.09
4620,78,34,17,1,Bottled Water,N,$1.09,1.09
4621,0,1140,471,1,Bottled Water,N,$1.09,1.09

In [32]:
## q13. 데이터 프레임에서 item_name 값의 단어의 수가 15개 이상인 데이터를 인덱싱 해주세요.

In [82]:
# 방법1
chipo_df.loc[chipo_df.item_name.apply(lambda x: len(x))>=15]

,level_0,index,order_id,quantity,item_name,choice_description,item_price,new_price
0,4621,3598,1443,15,Chips and Fresh Tomato Salsa,N,$44.25,44.25
2,4619,1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,4618,3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
9,4612,3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],$26.25,26.25
10,4613,3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$26.25,26.25
...,...,...,...,...,...,...,...,...
4511,283,3312,1327,1,Canned Soft Drink,[Sprite],$1.25,1.25
4512,281,1495,607,1,Canned Soft Drink,[Sprite],$1.25,1.25
4513,284,3307,1325,1,Canned Soft Drink,[Nestea],$1.25,1.25
4514,282,1500,609,1,Canned Soft Drink,[Diet Coke],$1.25,1.25
4515,280,1492,606,1,Canned Soft Drink,[Nestea],$1.25,1.25

In [103]:
# 방법2
chipo_df[chipo_df.item_name.str.len()>=15]

,level_0,index,order_id,quantity,item_name,choice_description,item_price,new_price
0,4621,3598,1443,15,Chips and Fresh Tomato Salsa,N,$44.25,44.25
2,4619,1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,4618,3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
9,4612,3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],$26.25,26.25
10,4613,3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$26.25,26.25
...,...,...,...,...,...,...,...,...
4511,283,3312,1327,1,Canned Soft Drink,[Sprite],$1.25,1.25
4512,281,1495,607,1,Canned Soft Drink,[Sprite],$1.25,1.25
4513,284,3307,1325,1,Canned Soft Drink,[Nestea],$1.25,1.25
4514,282,1500,609,1,Canned Soft Drink,[Diet Coke],$1.25,1.25
4515,280,1492,606,1,Canned Soft Drink,[Nestea],$1.25,1.25

In [33]:
# end of file