In [1]:
import pandas as pd
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt

In [2]:
# 서울시_건축물대장_법정동,행정동_코드정보.csv
seoul_df = pd.read_csv('/Users/youngjaelee/_Github/covid19/서울시_건축물대장_법정동,행정동_코드정보.csv')

# 서울시_우리마을가게_상권분석서비스(상권영역).csv
area_df = pd.read_csv('/Users/youngjaelee/_Github/covid19/서울시_우리마을가게_상권분석서비스(상권영역).csv', encoding='cp949')

In [3]:
# 서울시_우리마을가게_상권분석서비스(상권_추정매출)_2022년.csv
sales_2022_df = pd.read_csv('/Users/youngjaelee/_Github/covid19/추정매출/서울시_우리마을가게_상권분석서비스(상권_추정매출)_2022년.csv', encoding='cp949')

# 서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2021년.csv
sales_2021_df = pd.read_csv('/Users/youngjaelee/_Github/covid19/추정매출/서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2021년.csv', encoding='cp949')

# 서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2020년.csv
sales_2020_df = pd.read_csv('/Users/youngjaelee/_Github/covid19/추정매출/서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2020년.csv', encoding='cp949')

# 서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2019년.csv
sales_2019_df = pd.read_csv('/Users/youngjaelee/_Github/covid19/추정매출/서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2019년.csv', encoding='cp949')

In [4]:
# 서울시 우리마을가게 상권분석서비스(상권-점포).csv 2020~2022
store_df = pd.read_csv('/Users/youngjaelee/_Github/covid19/점포/서울시_우리마을가게_상권분석서비스(상권_점포).csv', encoding='cp949')

# 서울시_우리마을가게_상권분석서비스(신_상권_점포)_2019년.csv
store_df_2019 = pd.read_csv('/Users/youngjaelee/_Github/covid19/점포/서울시_우리마을가게_상권분석서비스(신_상권_점포)_2019년.csv', encoding='cp949')

# 추정매출 19 ~ 22 병합

In [5]:
new_sales_df = sales_2022_df.append([sales_2021_df, sales_2020_df, sales_2019_df], ignore_index=True)

/var/folders/2m/wqhtc6ld0xs05wryw5l65kzh0000gn/T/ipykernel_32100/1591530361.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_sales_df = sales_2022_df.append([sales_2021_df, sales_2020_df, sales_2019_df], ignore_index=True)

In [6]:
sales_df = new_sales_df.iloc[:, 0:9]

In [7]:
sales_df['점포수'] = new_sales_df.iloc[:,-1:]

In [8]:
temp_sales_df = sales_df

In [9]:
temp_sales_df

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,점포수
0,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,9548586,6
1,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,103492276,4
2,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,55855797,6
3,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8443170204,6
4,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,576420408,5
...,...,...,...,...,...,...,...,...,...,...
536519,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,702775358,6
536520,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,9035390798,5
536521,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,2418241704,8
536522,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,57290367,4
536523,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,16243089,7

## 행정동 코드정보

In [10]:
seoul_df.head()

   시군구코드  법정동코드  행정동코드    시도명 시군구명 법정동명   행정동명     적용시작일     적용만료일
0  11680  11400    675  서울특별시  강남구  일원동   개포3동  20221223  99991231
1  11680  10300    675  서울특별시  강남구  개포동   개포3동  20221223  99991231
2  11680  10600    675  서울특별시  강남구  대치동   개포3동  20221223  99991231
3  11740  10300    526  서울특별시  강동구  상일동  상일제2동  20210701  99991231
4  11740  10300    525  서울특별시  강동구  상일동  상일제1동  20210701  99991231

In [11]:
seoul_df.loc[:5,['시군구코드','행정동코드','시군구명','행정동명']]

   시군구코드  행정동코드 시군구명   행정동명
0  11680    675  강남구   개포3동
1  11680    675  강남구   개포3동
2  11680    675  강남구   개포3동
3  11740    526  강동구  상일제2동
4  11740    525  강동구  상일제1동
5  11290    620  성북구  정릉제1동

## 행정동 코드정보.csv에서 시군구코드+행정동코드 합침

In [12]:
# 시군구코드, 행정동코드 열을 합치기 위해 'dtype' 'str'으로 변환
seoul_df['시군구코드']= seoul_df['시군구코드'].astype(str)
seoul_df['행정동코드']= seoul_df['행정동코드'].astype(str)

In [13]:
# 시군구코드, 행정동코드 붙임
seoul_df['행정동_코드'] = seoul_df['시군구코드']+seoul_df['행정동코드']

In [14]:
# 행정동_코드 dtype int
seoul_df['행정동_코드'] = seoul_df['행정동_코드'].astype(int)

In [15]:
hj_seoul_df = seoul_df.loc[:,['시군구명','행정동명','행정동_코드']]

In [16]:
hj_seoul_df

     시군구명     행정동명    행정동_코드
0     강남구     개포3동  11680675
1     강남구     개포3동  11680675
2     강남구     개포3동  11680675
3     강동구    상일제2동  11740526
4     강동구    상일제1동  11740525
...   ...      ...       ...
2350  종로구  종로1.2가동  11110610
2351  종로구  종로1.2가동  11110610
2352  종로구  종로1.2가동  11110610
2353  종로구  종로1.2가동  11110610
2354  종로구  종로1.2가동  11110610

[2355 rows x 3 columns]

In [17]:
hj_seoul_df['행정동_코드']=hj_seoul_df['행정동_코드'].astype(int)

## 상권영역.csv

In [18]:
area_df

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [19]:
area_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1671 entries, 0 to 1670
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준_년월_코드    1671 non-null   int64
 1   상권_구분_코드    1671 non-null   object
 2   상권_구분_코드_명  1671 non-null   object
 3   상권_코드       1671 non-null   int64
 4   상권_코드_명     1671 non-null   object
 5   엑스좌표_값      1671 non-null   int64
 6   와이좌표_값      1671 non-null   int64
 7   시군구_코드      1671 non-null   int64
 8   행정동_코드      1671 non-null   int64
 9   형태정보        0 non-null      float64
dtypes: float64(1), int64(6), object(3)
memory usage: 130.7+ KB

In [20]:
area_df = area_df[['상권_코드','행정동_코드']]

In [21]:
area_df

        상권_코드    행정동_코드
0     2110753  11545710
1     2110427  11350611
2     2110755  11545680
3     2110739  11545690
4     2111017  11710562
...       ...       ...
1666  1001493  11140590
1667  1001494  11110615
1668  1001495  11710566
1669  1001496  11680580
1670  1001491  11170650

[1671 rows x 2 columns]

## 상권영역, 행정동_코드정보 left join

In [22]:
area_df = pd.merge(area_df, hj_seoul_df, how='left', on='행정동_코드')

In [23]:
area_df

        상권_코드    행정동_코드 시군구명         행정동명
0     2110753  11545710  금천구        시흥제5동
1     2110427  11350611  노원구        하계제1동
2     2110755  11545680  금천구        시흥제2동
3     2110739  11545690  금천구        시흥제3동
4     2111017  11710562  송파구        방이제2동
...       ...       ...  ...          ...
3847  1001494  11110615  종로구  종로1.2.3.4가동
3848  1001494  11110615  종로구  종로1.2.3.4가동
3849  1001495  11710566  송파구          오륜동
3850  1001496  11680580  강남구        삼성제1동
3851  1001491  11170650  용산구       이태원제1동

[3852 rows x 4 columns]

In [24]:
 temp_sales_df

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,점포수
0,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,9548586,6
1,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,103492276,4
2,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,55855797,6
3,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8443170204,6
4,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,576420408,5
...,...,...,...,...,...,...,...,...,...,...
536519,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,702775358,6
536520,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,9035390798,5
536521,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,2418241704,8
536522,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,57290367,4
536523,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,16243089,7

## 추정매출, 상권영역 left join

In [25]:
sales_df = pd.merge(sales_df, area_df, how='left', on='상권_코드')

In [27]:
sales_df.drop_duplicates()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,점포수,행정동_코드,시군구명,행정동명
0,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,9548586,6,11680580,강남구,삼성제1동
1,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,103492276,4,11680580,강남구,삼성제1동
2,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,55855797,6,11680580,강남구,삼성제1동
3,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8443170204,6,11680580,강남구,삼성제1동
4,2022,3,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,576420408,5,11680580,강남구,삼성제1동
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192058,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,702775358,6,11680580,강남구,삼성제1동
1192059,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,9035390798,5,11680580,강남구,삼성제1동
1192060,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,2418241704,8,11680580,강남구,삼성제1동
1192061,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,57290367,4,11680580,강남구,삼성제1동
1192062,2019,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,16243089,7,11680580,강남구,삼성제1동

In [ ]:
sales_df[sales_df['행정동_코드'].eq(11680580) &  sales_df['서비스_업종_코드'].eq('CS300043')]

In [ ]:
sales_df.isna().sum()

In [ ]:
536524